body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    max-width: 800px;
}

.h12 {
    text-align: center;
    color: darkblue;
}

#btnMostrar{
    border:3px solid black;
    background: darkblue;
    color: white;
}

#Img {
    max-width: 400px;
    position: relative;
    
}

#Noticia {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
}

#Texto {
    display: flex;
    flex-direction: column;  
}